%div.user_form
  = form_for @user do |f|
    - if @user.errors.any?
      #error_explanation
        %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        %ul
          - @user.errors.full_messages.each do |message|
            %li= message

    %h3 Enter User Details
    .field
      = f.label :name, 'Name:'
      = f.text_field :name, id: :user_name, size: 40
    .field
      = f.label :password, 'Password:'
      = f.password_field :password, id: :user_password, size: 40
    .field
      = f.label :password_confirmation, 'Confirm:'
      = f.password_field :password_confirmation, |
        id: :user_password_confirmation,            |
        size: 40
    .actions
      = f.submit 'Save'
