<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <div id="menu">
    <ul>
      <li><%= link_to "Map", main_home_path, class: "link" %></li>
      <li><%= link_to "About", main_about_path, class: "link" %></li>
      <li><%= link_to "Emergency", main_emergency_path, class: "link" %></li>
      <li><%= link_to "Contact Us", contact_us_path, class: "link" %></li>
      <% if Current.user || Current.twitter_user %>
        <li><%= link_to "My Account", account_path, class: "link" %></li>
        <li><%= link_to "Logout", logout_path, method: :delete, class: "link" %></li>
      <% else %>
        <li><%= link_to "Login", login_path, class: "link" %></li>
        <li><%= link_to "Sign-Up", sign_up_path, class: "link" %></li>
      <% end %>
    </ul>
  </div>
</div>

<script type="text/javascript">
  $(function(){
        $('ul li a').filter(function(){return this.href==location.href}).parent().addClass('active').siblings().removeClass('active')
        $('ul li a').click(function(){
            $(this).parent().addClass('active').siblings().removeClass('active')
        })
    })
</script>
