%h1= t('.title')

%table.products
  %tfoot
    %tr
      %td.new_btn{:colspan => "8"}
        = link_to 'New Order', new_order_path
  %thead
    %tr
      %th Name
      %th Address
      %th Email
      %th Pay Type
      %th
      %th
      %th

  %tbody
    - @orders.each do |order|
      %tr{:class => cycle('list_line_odd', 'list_line_even')}
        %td= order.name
        %td= order.address
        %td= order.email
        %td= order.pay_type
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }
