!!!
%html
  %head
    %title Chess Store
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    #myTopnav.topnav
      %a.active{:href => root_path} Home
      %a{:href => products_path} Products
      %a{:href => about_about_path} About
      %a.icon{:href => "javascript:void(0);", :onclick => "myFunction()"}
        %i.fa.fa-bars

    %main{:class => controller.controller_name}= yield

    %footer
      .footer-bottom
        Project Designed by - Tamim Almahdi ©
